// fontawesome
//$fa-font-path: '../fonts/fontawesome/web-fonts-with-css/webfonts';

$assets-path: '/assets';

$enable-shadows: true;

$body-color: #1d2129;
$body-bg: #e9ebee;

$link-color: #365899;

//$blue: #29487d;
$blue: #4080ff;
$primary: #4267b2;
$secondary: #eff1f3;
$info: #4080ff;

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$card-cap-bg: #f6f7f9;
$card-spacer-x: 12px;
$card-border-radius: 4px;
$card-border-color: #dddfe2;

$form-group-margin-bottom: 12px;

$input-placeholder-color: #90949c;
$input-padding-y: 0.3438rem;

$input-padding-y-sm: 0.25rem;
//$input-padding-x-sm:;
//$input-line-height-sm:;
$input-border-radius-sm: 0;

$input-padding-y-lg: 0.313rem;
//$input-padding-x-lg:;
//$input-line-height-lg:;

$input-border-radius-lg: 5px;

$input-btn-padding-y: .25rem;
$input-btn-padding-x: .5rem;

$input-btn-padding-y-sm: .15rem;
$input-btn-padding-x-sm: .5rem;
$input-btn-padding-x: .5rem;

$input-btn-padding-y-lg: 0.375rem;
$input-btn-padding-x-lg: 0.75rem;

$border-color-line: #373e4c;

$list-inline-padding: 3px;

$dropdown-item-padding-x: 12px;
$dropdown-link-hover-color: #FFF;
$dropdown-link-hover-bg: $primary;
