@import 'core';

.row {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

.col-4 {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  @include flex(0 0 percentage(4/12));
  max-width: percentage(4/12);
}

.card-title {
  font-size: 14px;
  margin: 10px 0 0;

  a {
    color: inherit;
    text-decoration: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
    }
  }
}

.card-description {
  font-size: 12px;
  color: $text-muted;
}

.list-posts {
  > li {
    margin-bottom: 15px;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 1.1;
    font-weight: bold;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16px;
  }

  time {
    font-size: 10px;
    color: $text-muted;
    display: block;
  }
}

.container {
  max-width: map_get($container-max-widths, xl);
}

.navbar-brand {
  img {
    height: 56px;
    margin-bottom: -30px;
  }
}

.section-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-toggler {
  display: none;
}

.navbar-collapse {
  max-height: none;
}

.navbar-nav {
  @include flexbox;

  > li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  a {
    @include transition($transition-base);
    @include hover-focus {
      color: #999999;
    }
  }
}

.hero-img {
  width: 280px;
  height: 280px;
}

.hero-text {
  .h2,
  .h3 {
    font-size: 48px;
  }

  .h2 {
    span {
      font-size: 172px;
      margin-top: -60px;
      letter-spacing: -12px;
      text-shadow: 9px -9px 0 #fff;
    }
  }

  .text-anim-items {
    width: 185px;
  }
}

.list-news-img {
  width: 90px;
  height: 90px;
  margin-right: 50px;

  .day {
    font-size: 32px;
    line-height: 1;
  }

  .month {
    font-size: 12px;
  }
}

.list-news-body {
  font-size: 22px;
}

.main-container {
  .container {
    @include flexbox;
  }

  .main-aside {
    width: 300px;
    margin-left: $grid-gutter-width + 20px;
  }

  .main-content {
    @include flex(1);
  }
}

.box-aside {
  margin-bottom: 20px;

  .h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: $text-muted;
  }
}
