@import 'core';

.right-native-widget-wrap {
  font-family: 'Open Sans', 'Arial', sans-serif;

  *,
  *::before,
  *::after {
    box-sizing: border-box; // 1
  }

  a {
    text-decoration: none;
    color: #2c3642;

    &:hover {
      color: #2b397b;
    }
  }

  @include media-breakpoint-down(sm) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50px;
      z-index: 10;
    }
  }
}

.right-native-widget-bar {
  clear: both;
  overflow: hidden;
  margin-bottom: 5px;
  color: #646c9a;

  .right-native-widget-pos-left {
    float: left;
  }

  .right-native-widget-pos-right {
    float: right;
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.right-native-widget-header-title {
  font-weight: bold;
}

.right-native-widget-header-brand {
  @include flexbox;
  @include align-items(flex-end);
  margin-bottom: 1px;
  font-size: 8px !important;

  img {
    margin-left: 3px;
    height: 16px !important;
    width: auto !important;
  }
}

.right-native-widget-row {
  @include flexbox();
  @include flex-wrap(wrap);
  margin-left: -4px;
  margin-right: -4px;
  position: relative;

  & + .right-native-widget-row {
    margin-top: 5px;
    padding-top: 15px;

    &:before {
      top: 0;
      position: absolute;
      left: 4px;
      right: 4px;
      content: '';
      display: block;
      border-top: 1px solid #cdcdcd;
    }
  }

  .right-native-widget-col {
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
  }

  .right-native-widget-item {
    display: block;
    position: relative;
  }

  .right-native-widget-is-loading {
    overflow: hidden;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 20;
    }

    &:before {
      background-color: #f2f2f2;
    }

    &:after {
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        transparent,
        rgba(#999999, 0.3),
        transparent
      );
      animation: right-native-widget-loading 1.5s infinite;
    }

    @keyframes right-native-widget-loading {
      100% {
        transform: translateX(100%);
      }
    }
  }

  .right-native-widget-ad {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 24px;
    height: 24px;
    background-image: url('https://syndication.rightnativecontent.com/images/wages_ad.svg');
    background-size: cover;
  }

  .right-native-widget-image {
    position: relative;
    padding-bottom: 56%;
    overflow: hidden;

    > img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
    }

    .right-native-card-ads {
      position: absolute !important;
      right: 0 !important;
      bottom: 0 !important;
      z-index: 2 !important;

      img {
        height: 20px !important;
        width: 20px !important;
        float: right !important;
      }
    }
  }

  .right-native-widget-title {
    margin-top: 5px;
    line-height: 1.1;
    //font-size: 13px;
    //font-weight: normal;
    //font-style: normal;
    //text-decoration: none;
  }
}

@include media-breakpoint-up(sm) {
  @for $i from 1 through 6 {
    .right-native-widget-row-#{$i} {
      > .right-native-widget-col {
        flex: 0 0 percentage(1 / $i);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage(1 / $i);
      }
    }
  }
}

@mixin nativeWidgetOnMobile() {
  .right-native-widget-row {
    &.right-native-widget-row-mb-1 {
      > .right-native-widget-col {
        flex: 0 0 percentage(1 / 1);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage(1 / 1);
      }
    }

    &.right-native-widget-row-mb-2 {
      > .right-native-widget-col {
        flex: 0 0 percentage(1 / 2);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage(1 / 2);
      }
    }

    &.right-native-widget-row-mb-list-first {
      .right-native-widget-col {
        flex: 0 0 percentage(1 / 1);
        max-width: percentage(1 / 1);
      }

      .right-native-widget-col:not(:first-child) {
        .right-native-widget-item {
          @include flexbox;
          border-top: 1px solid #cdcdcd;
          padding-top: 10px;
        }

        .right-native-widget-image {
          width: 110px !important;
          padding-bottom: 0 !important;
          margin-right: 10px !important;

          img {
            height: auto !important;
            position: relative !important;
          }
        }
      }
    }

    &.right-native-widget-row-mb-featured {
      .right-native-widget-col:first-child {
        flex: 0 0 percentage(1 / 1);
        max-width: percentage(1 / 1);
        border-bottom: 1px solid #cdcdcd;
        padding-bottom: 10px;
      }

      .right-native-widget-col:not(:first-child) {
        flex: 0 0 percentage(1 / 2);
        max-width: percentage(1 / 2);
      }
    }
  }
}

@include media-breakpoint-down(md) {
  @include nativeWidgetOnMobile();
}

.device-mobile {
  @include nativeWidgetOnMobile();
}

.right-native-widget-image-hover {
  .right-native-widget-item {
    .right-native-widget-image {
      img {
        @include transition(all 0.3s ease-out);
        @include transform(scale(1));
      }
    }

    &:hover {
      .right-native-widget-image {
        img {
          @include transform(scale(1.3));
        }
      }
    }
  }
}

.right-native-widget-image-inner-shadow {
  .right-native-widget-item {
    .right-native-widget-image {
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0 !important;
        width: 100%;
        height: 100%;
        z-index: 10;
        -webkit-box-shadow: inset 0px 0px 75px black;
        -moz-box-shadow: inset 0px 0px 75px black;
        box-shadow: inset 0px 0px 75px black;
        @include transition(all 0.3s linear);
        border-radius: 2px;
      }
    }

    &:hover {
      .right-native-widget-image {
        &:before {
          -webkit-box-shadow: inset 0px 0px 0px black;
          -moz-box-shadow: inset 0px 0px 0px black;
          box-shadow: inset 0px 0px 0px black;
          border-radius: 0px;
        }
      }
    }
  }
}

.right-native-widget-image-blur {
  .right-native-widget-row {
    .right-native-widget-item {
      position: relative;
    }

    .right-native-widget-description {
      margin-top: 10px;
      font-size: 16px;
      display: none;
      color: var(--rightNativeBlurColor);
      opacity: 0.7;
    }

    .right-native-widget-title-bg {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 50px 20px 15px;
      overflow: hidden;
      background-image: linear-gradient(
        to bottom,
        transparent,
        rgba(var(--rightNativeBlurBgGradient), 0.25) 15%,
        rgba(var(--rightNativeBlurBgGradient), 0.85) 30%,
        rgba(var(--rightNativeBlurBgGradient), 1) 45%
      );
    }

    .right-native-widget-title {
      margin: 0;
      font-size: 20px;
      color: var(--rightNativeBlurColor);
    }
  }

  @include media-breakpoint-up(sm) {
    .right-native-widget-row-1 {
      .right-native-widget-image {
        width: 65%;
      }

      .right-native-widget-title-bg {
        padding: 35px;
        top: 0;
        width: 65%;
        left: auto;
        text-align: right;

        background-image: linear-gradient(
          to right,
          transparent,
          rgba(var(--rightNativeBlurBgGradient), 0.25) 15%,
          rgba(var(--rightNativeBlurBgGradient), 0.85) 30%,
          rgba(var(--rightNativeBlurBgGradient), 1) 45%
        );
      }

      .right-native-widget-title {
        font-size: 24px;
        text-align: right;
      }

      .right-native-widget-description {
        display: block;
      }

      & + .right-native-widget-row-1 {
        .right-native-widget-image {
          margin-left: auto;
        }

        .right-native-widget-title-bg {
          left: 0;
          right: auto;
          text-align: left;

          background-image: linear-gradient(
            to left,
            transparent,
            rgba(var(--rightNativeBlurBgGradient), 0.25) 15%,
            rgba(var(--rightNativeBlurBgGradient), 0.85) 30%,
            rgba(var(--rightNativeBlurBgGradient), 1) 45%
          );
        }

        .right-native-widget-title {
          text-align: left;
        }
      }
    }
  }
}
