[class*="icon-12-"] {
  width: 12px;
  height: 12px;
  background-image: url('#{$assets-path}/images/icons/icon-12-16-1.png');
}

.icon-12-star {
  background-position: 0 -877px;
}

.icon-12-globe {
  background-image: url('#{$assets-path}/images/icons/icon-12-1.png');
  background-position: 0 -96px;
}

.icon-12-lock {
  background-image: url('#{$assets-path}/images/icons/icon-12-16.png');
  background-position: -78px -422px;
}

.icon-12-user, .icon-12-users, .icon-12-gear {
  background-image: url('#{$assets-path}/images/icons/icon-12-3.png');
}

.icon-12-user {
  background-position: 0 -13px;
}

.icon-12-users {
  background-position: 0 0;
}

.icon-12-gear {
  background-position: 0 -26px;
}



.icon-12-follow {
  background-image: url('#{$assets-path}/images/icons/icon-12-16-2.png');
  background-position: 0 -200px;
}







