[class*="icon-16-"] {
  width: 16px;
  height: 16px;
  background-image: url('#{$assets-path}/images/icons/icon-16.png');
}

.icon-16-emoji {
  background-position: 0 -417px;
}

.icon-16-camera {
  background-position: 0 -349px;
}

.icon-16-gif {
  background-position: 0 -451px;
}

.icon-16-sticker {
  background-position: 0 -519px;
}

.icon-16-emoji-hover, a:hover > .icon-16-emoji {
  background-position: 0 -434px;
}

.icon-16-camera-hover, a:hover > .icon-16-camera {
  background-position: 0 -366px;
}

.icon-16-gif-hover, a:hover > .icon-16-gif {
  background-position: 0 -468px;
}

.icon-16-sticker-hover, a:hover > .icon-16-sticker {
  background-position: 0 -536px;
}

.icon-16-like {
  background-image: url('#{$assets-path}/images/icons/icon-16-2.png');
  background-position: -477px -49px;
}

.icon-16-like-o {
  background-image: url('#{$assets-path}/images/icons/icon-16-2_1.png');
  background-position: -375px -49px;
}

.icon-16-album-white {
  background-image: url('#{$assets-path}/images/icons/icon-12-16.png');
  background-position: -68px -303px;
}

.icon-16-add_friend {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -412px;
}

.icon-16-add_friend-white {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -429px;
}

.icon-16-suitcase {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -293px;
}

.icon-16-graduation_cap {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -344px;
}

.icon-16-home {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -327px;
}

.icon-16-heart {
  background-image: url('#{$assets-path}/images/icons/icon-12-16.png');
  background-position: 0 -235px;
}

.icon-16-map_marker_alt {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -361px;
}

.icon-16-message {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
  background-position: 0 -395px;
}

.icon-16-clock {
  background-image: url('#{$assets-path}/images/icons/icon-12-16-2.png');
  background-position: 0 -41px;
}

.icon-16-activity_log {
  background-image: url('#{$assets-path}/images/icons/icon-12-16-1.png');
  background-position: 0 -366px;
}

.icon-16-ellipsis_h {
  background-image: url('#{$assets-path}/images/icons/icon-16-3.png');
  background-position: -118px -196px;
}

.icon-16-make_post {
  background-image: url('#{$assets-path}/images/icons/icon-16-4.png');
  background-position: -34px -302px;
}

.icon-16-camera-o {
  background-image: url('#{$assets-path}/images/icons/icon-16-5.png');
  background-position: -166px -384px;
}

.icon-16-album {
  background-image: url('#{$assets-path}/images/icons/icon-2.png');
  background-position: 0 -2469px;
}

.icon-16-live_video {
  background-image: url('#{$assets-path}/images/icons/icon-2.png');
  background-position: 0 -2435px;
}

.icon-16-life_event {
  background-image: url('#{$assets-path}/images/icons/icon-16-5.png');
  background-position: -101px -407px;
}

.icon-16-messages {
  background-image: url('#{$assets-path}/images/icons/icon-16-6.png');
  background-position: -17px -381px;
}

.icon-16-globe {
  background-image: url('#{$assets-path}/images/icons/icon-16-7.png');
  background-position: 0 0;
}

.icon-16-compose {
  background-image: url('#{$assets-path}/images/icons/icon-16-8.png');
  background-position: 0 -34px;
}

.icon-16-camera_photo {
  background-image: url('#{$assets-path}/images/icons/icon-16-8.png');
  background-position: 0 -17px;
}

.icon-16-camcorder_live {
  background-image: url('#{$assets-path}/images/icons/icon-16-8.png');
  background-position: 0 0;
}

.icon-16-friend_add {
  background-image: url('#{$assets-path}/images/icons/icon-16-8.png');
  background-position: 0 -51px;
}

.icon-16-search {
  background-image: url('#{$assets-path}/images/icons/icon-1.png');
  background-position: 0 -1380px;
}

.icon-16-search-white {
  background-image: url('#{$assets-path}/images/icons/icon-1.png');
  background-position: 0 -1395px;
}

[class*="icon-16-circle-"] {
  background-image: url('#{$assets-path}/images/icons/icon-16-18.png');
}

.icon-16-circle-like {
  background-position: 0 -761px;
}

.icon-16-circle-love {
  background-position: 0 -710px;
}

.icon-16-circle-wow {
  background-position: 0 -795px;
}

.icon-16-circle-haha {
  background-position: 0 -676px;
}

.icon-16-circle-angry {
  background-position: 0 -608px;
}

.icon-16-circle-sad {
  background-position: 0 -744px;
}
