[class*="icon-18-"] {
  width: 18px;
  height: 18px;
  background-image: url('#{$assets-path}/images/icons/icon-16-18.png');
}

$icon-18: 19px;

.icon-18-comment-gray {
  background-position: 0 #{-($icon-18 * 5)};
}

.icon-18-comment {
  background-position: 0 #{-($icon-18 * 6)};
}

.icon-18-comment-white {
  background-position: 0 #{-($icon-18 * 7)};
}

.icon-18-like-active {
  background-position: 0 #{-($icon-18 * 8)};
}

.icon-18-like {
  background-position: 0 #{-($icon-18 * 9)};
}

.icon-18-like-white {
  background-position: 0 #{-($icon-18 * 10)};
}

.icon-18-like-gray {
  background-position: 0 #{-($icon-18 * 11)};
}

.icon-18-comments-gray {
  background-position: 0 #{-($icon-18 * 12)};
}

.icon-18-comments {
  background-position: 0 #{-($icon-18 * 13)};
}

.icon-18-comments-white {
  background-position: 0 #{-($icon-18 * 14)};
}

.icon-18-share-gray {
  background-position: 0 #{-($icon-18 * 15)};
}

.icon-18-share {
  background-position: 0 #{-($icon-18 * 16)};
}

.icon-18-share-white {
  background-position: 0 #{-($icon-18 * 17)};
}



