[class*="icon-24-"] {
  width: 24px;
  height: 24px;
  background-image: url('#{$assets-path}/images/icons/icon-24-0.png');
}

.icon-24-facebook {
  background-position: 0 -442px;
}

.icon-24-friend-requests {
  background-position: 0 -892px;
}

.icon-24-friend-requests-hover {
  background-position: 0 -867px;
}

.icon-24-messages {
  background-position: 0 -942px;
}

.icon-24-Messages-hover {
  background-position: 0 -917px;
}

.icon-24-notifications {
  background-position: 0 -792px;
}

.icon-24-notifications-hover {
  background-position: 0 -767px;
}

.icon-24-quick-help {
  background-position: 0 -1042px;
}

.icon-24-quick-help-hover {
  background-position: 0 -1017px;
}

.icon-24-caret-down {
  background-position: 0 -842px;
}

.icon-24-caret-down-hover {
  background-position: 0 -817px;
}

[class*="icon-24-circle-"] {
  background-image: url('#{$assets-path}/images/icons/icon-16-24.png');
}

.icon-24-circle-guard {
  background-image: url('#{$assets-path}/images/icons/24-guard.png');
  background-position: 0 -41px;
}

.icon-24-circle-answer_a_question {
  background-image: url('#{$assets-path}/images/icons/answer-a-question-2.png');
}

.icon-24-circle-photos {
  background-image: url('#{$assets-path}/images/icons/icon-24-1.png');
}

.icon-24-circle-globe {
  background-position: 0 -200px;
}

.icon-24-circle-friends {
  background-image: url('#{$assets-path}/images/icons/24-friends.png');
}

.icon-24-circle-location {
  background-position: 0 -150px;
}

.icon-24-circle-birthday {
  background-position: 0 -175px;
}

.icon-24-circle-gender {
  background-position: 0 -125px;
}

.icon-24-circle-flag {
  background-position: 0 -100px;
}

.icon-24-circle-group {
  background-position: 0 -75px;
}

.icon-24-circle-calendar {
  background-position: 0 -50px;
}

.icon-24-circle-box {
  background-position: 0 -25px;
}

.icon-24-circle-comment {
  background-position: 0 0;
}
