[class*="icon-40-"] {
  width: 40px;
  height: 40px;
  background-image: url('#{$assets-path}/images/icons/24-guard.png');
}

.icon-40-guard {
  background-image: url('#{$assets-path}/images/icons/24-guard.png');
}
