.btn {
  box-shadow: none !important;
  font-weight: 600;
  [class*="icon-20-"] {
    margin-top: -3px;
    margin-bottom: -1px;
    &:first-child {
      margin-left: -6px;
      margin-right: 3px;
    }
    &:last-child {
      margin-right: -6px;
      margin-left: 3px;
    }
  }
  [class*="icon-12-"], [class*="icon-16-"] {
    margin-top: -3px;
    margin-bottom: -1px;
  }
}

.btn-sm, .btn {
  @include font-size(12px);
}

.btn-md {
  padding-top: 0.5625rem;
  padding-bottom: 0.5625rem;
}

.btn-xl {
  @include font-size(14px);
  padding-top: 0.688rem;
  padding-bottom: 0.688rem;
}

.btn-rounded {
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

.btn-default {
  @include button-variant(
      #f6f7f9,
      #f6f7f9,
    $hover-background: #e9ebee,
    $hover-border: #e9ebee,
    $active-background: #dddfe2,
    $active-border: #e9ebee
  );
  color: #4b4f56;
}

.btn-secondary {
  @include button-variant(
      $secondary,
      #bec2c9,
    $hover-background: #e9ebee,
    $hover-border: #bec2c9,
    $active-background: #dddfe2,
    $active-border: #bec2c9
  );
  color: #4b4f56;
}
