.dropdown {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &, .dropdown-item {
    @include font-size(12px);
  }
  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
  .dropdown-menu {
    &:before, &:after {
      content: '';
      position: absolute;
    }
  }
  .dropdown-menu[x-placement^="top"],
  .dropdown-menu[x-placement^="right"],
  .dropdown-menu[x-placement^="bottom"],
  .dropdown-menu[x-placement^="left"] {

  }

  .dropdown-menu[x-placement^="right"] {

  }
  .dropdown-menu[x-placement^="bottom"] {
    &:after {
      @include make-arrow('top', $dropdown-bg, 8px, 8px);
      top: -8px;
    }
  }
  .dropdown-menu[x-placement^="bottom-right"],
  .dropdown-menu[x-placement^="top-right"] {
    &:after {
      right: 7px;
      left: auto;
    }
  }
  .dropdown-menu[x-placement^="bottom-left"],
  .dropdown-menu[x-placement^="top-left"] {
    &:after {
      right: auto;
      left: 7px;
    }
  }
}
