.form-control {
  @include box-shadow(none !important);
  @include font-size(14px);
  &:focus {
    // Placeholder
    &::placeholder {
      color: #bec2c9;
    }
  }
  &.form-control-sm {
    @include font-size(12px);
    line-height: 1.2;
  }
  &.form-control-smd {
    @include font-size(12px);
  }
  &.form-control-lg {
    @include font-size(18px);
  }
}

[contenteditable]:empty {
  &:after {
    content: attr(placeholder);
    color: #90949c;
    display: inline-block;
  }
  &:focus {
    &:after {
      color: #bec2c9;
    }
  }
}

.form-box-sm {
  width: 100%;
  max-width: 614px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  .form-box-content {
    max-width: 302px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-h5 {
  @include font-size(18px);
  font-weight: normal;
  margin-bottom: 24px;
  margin-top: 18px;
}
