[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@import "./icons/10";
@import "./icons/12";
@import "./icons/14";
@import "./icons/16";
@import "./icons/18";
@import "./icons/20";
@import "./icons/24";
@import "./icons/40";

