/* ==========================================================================
Content
========================================================================== */
.container-content {
  max-width: 1012px + $grid-gutter-width;
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding-top: 12px;
  margin-top: 43px;
  .container-content {
    @include flexbox;
  }
  .main-left {
    width: 180px;
    margin-right: 12px;
  }
  .main-content {
    @include flex(1);
  }
  .main-right {
    width: 308px;
    margin-left: 12px;
  }
}

.aside-nav {
  margin-left: -4px;
}
