/* ==========================================================================
Content
========================================================================== */
.app-loading {
  display: none;
}

.main {
  padding-bottom: 30px;
}

.view-more {
  text-align: center;
  margin: 30px 0;
}
