.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-modal-backdrop - 1;
  background-color: $primary;
  border-bottom: 1px solid #29487d;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-font-smoothing: antialiased;
  @include font-size(12px);
  a {
    color: inherit;
    text-decoration: none;
  }
  .container-fluid {
    @include flexbox;
    @include justify-content(space-between);
  }

  .logo {
    padding: 2px 0;
    display: inline-block;
    margin-right: 7px;
  }

  .topbar-left {
    @include flexbox;
    @include align-items(center);
  }
  .topbar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include flexbox;
  }
  .topbar-nav-item {
    position: relative;
    padding: 0 5px;
    &:not(:last-of-type):after {
      content: '';
      background-color: rgba(0, 0, 0, .1);
      height: 18px;
      width: 1px;
      @include center(false, true);
      right: 0;
    }
  }
  .media-user {
    padding-right: 12px;
  }
  .topbar-nav-icon {
    padding: 2px 4px;
    display: inline-block;
    @include opacity(0.6);
    @include hover-focus-active {
      @include opacity(1);
    }
  }
  .media-user .name, .topbar-nav-link {
    font-weight: bold;
  }
  .topbar-nav-link {
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    display: block;
  }
  .media-user, .topbar-nav-link {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: -5px;
    margin-right: -5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.input-group-search {
  width: 448px;
  .form-control {
    @include border-left-radius(3px);
  }
  .input-group-append {
    @include border-right-radius(3px);
    overflow: hidden;
  }
  .form-control, .btn {
    @include font-size(14px);
    border-width: 0;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    line-height: 1.2 !important;
  }
  .btn {
    min-width: 46px;
    @include hover-focus-active {
      background-color: $blue !important;
      i {
        background-position: 0 -1395px;
      }
    }
  }
}
